@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@400;700&display=swap");

.lxgw-wenkai-mono-tc-regular {
	font-family: "LXGW WenKai Mono TC", monospace;
	font-weight: 400;
	font-style: normal;
}

.lxgw-wenkai-mono-tc-bold {
	font-family: "LXGW WenKai Mono TC", monospace;
	font-weight: 700;
	font-style: normal;
}

* {
	@extend .lxgw-wenkai-mono-tc-regular;
}

html,
body {
	@apply text-slate-700;
}

.font-bold {
	@extend .lxgw-wenkai-mono-tc-bold;
}

.p-listbox:not(.p-disabled) .p-listbox-option.p-listbox-option-selected {
	background-color: #e0f2fe !important; /* bg-sky-100 */
	color: #0369a1 !important; /* text-sky-800 */
}

.block::before {
	content: "";
	display: block;
	height: calc(45px + 1.5rem); /* 偏移量大小 */
	margin-top: calc((45px + 1.5rem) * (-1)); /* 负值确保不影响布局 */
	visibility: hidden;
}
